#Dice{
    border: solid 2px;
    width: 10vh;
    height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.dot{
    border: solid;
    border-radius: 50%;
    background-color: black;
    height: 1vh;
    width:  1vh;
}