#Dice {
    border: solid 2px;
    width: 10vh;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    align-items: center;
    justify-items: center;
    border-radius: 10%;
    padding: 2vh;
    position: relative;
}

.dot {
    border-radius: 50%;
    background-color: black;
    height: 2vh;
    width: 2vh;
    display: none; /* Hide all dots by default */
}
